:root {
  --radius: 3px;
  --main-color: #5D3FD3;
}


html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./xmas-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;   
    background-color: blue;   
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
}

main {
    display: flex;
    box-shadow: 3px 3px 10px 1px #666;
    border-radius: var(--radius);
    position: relative;
}

#image-container {
    position: relative;
}

#img {
    width: 100%;
    height: 100%;
}

#loader {
    display: none;
    position: absolute;
    top: 43%;
    left: 43%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 24px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: var(--main-color);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

section {
    width: 256px;
    height: 256px;
    text-align: center;
    background-color: white;
    padding: 1em;
}

.right-col {
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courgette';
}

.left-col {
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

img {
    border-radius: var(--radius);
    width: 256px;
}

#dialog-modal {
    box-shadow: 0 0 20px #eee,
                2px 2px 40px #eee,
                4px 4px 60px #eee;
    border: 2px solid #eee;
}

dialog {
    border: none;
    border-radius: var(--radius);
    box-shadow: 3px 3px 10px 1px #666;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    width: 300px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.form-inner {
    display: flex;
}

label {
    font-family: 'Roboto'; 
    display: block;
    text-align: center;
    margin: 0 auto 1em auto;
    padding: 0 .2em;
    font-size: 140%;
    font-family: 'Mountains of Christmas', serif;
}

textarea {
    resize: none;
    border-right: none;
    border: 1px solid #999;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    height: 3em;
    padding: .6em;
    width: 100%;
    margin: 0 auto;
}

button {
    background-color: var(--main-color);
    border: none;
    color: white;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    padding: 0 .6em;
    cursor: pointer;
    font-size: 1.5em;
}

.btn-send {
    width: 25px;
    display: block;
}
