html, body {
    margin: 0;
    padding: 0;
}

:root {
    --bg-word: #5134ff;
    --family-img: url("https://w0.peakpx.com/wallpaper/956/812/HD-wallpaper-american-wirehair-cat-family-pets-kittens-cute-animals-ginger-cats-domestic-cats-american-wirehair.jpg");
    --coding-img:  url("https://i.pinimg.com/474x/fe/bb/d4/febbd478ad268919fbf80b0b5e069165.jpg");
    --trips-img: url("https://static.toiimg.com/photo/75625403.cms");
    --pizza-img: url("https://www.shutterstock.com/image-photo/gray-cute-cat-lover-pizza-600nw-2027593157.jpg");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #eee;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    cursor: url("fairy.cur"), auto;
}

body::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px - 90px);
  left: calc(var(--x, 0) * 1px - 90px);
  width: 200px;
  height: 200px;
  background: radial-gradient(white, #3984ff00 80%);
  opacity: 0;
  transition: opacity 0.2s;
}

body:hover::after {
  opacity: 0.4;
}

h1 {
    color: #111111;
    text-shadow: 0px 0px 5px #eee;
}

h1::after {
    content: "family";
    animation: changeContent 8s ease-in-out infinite;
    animation-delay: 1s;
    font-family: "Happy Monkey";
    padding: 0.8em 0.4em;
    border-radius: 8px;
    background: purple;
    color: white;
    text-shadow: 0 0 5px black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    margin-top: 5em;
    text-align: center;
    color: #eee;
}

@keyframes changeContent {
    0% { 
        content: "family 👨‍👩‍👦"; 
        background-image: var(--family-img);
       }
    33% {
         content: "coding 💻"; 
         background-image: var(--coding-img);
        }
    66% {
         content: "fun-trips 🧳"; 
         background-image: var(--trips-img);
        }
    100% {
         content: "pizza 🍕";
         background-image: var(--pizza-img);
        }
}

@media (min-width: 500px) {
    h1 { font-size: 6vw; }
}